.right-pull{float: right;}
.left-pull{float: left;}
body{min-width: 1100px;font-family: microsoft yahei,Verdana, Arial, Helvetica, sans-serif;}




.head-v3{position:relative;z-index:1000;width:100%; top:0;}
.head-v3 .navigation-inner{margin:0 auto;width:1100px;position:relative}
.navigation-up{height:80px;background:rgba(255,255,255,1)}
.navigation-up .navigation-v3{float:left;margin-left:10px;width: 100%;}
.navigation-up .navigation-v3 ul{float:left}
.navigation-up .navigation-v3 li{float:left;font:normal 16px/16px "microsoft yahei";color:#333}
.navigation-up .navigation-v3 .nav-up-selected{background:rgba(244,244,244,0.8)}
.navigation-up .navigation-v3 .nav-up-selected-inpage{background:rgba(244,244,244,0.8)}
.navigation-up .navigation-v3 li h2{font-weight:normal;padding:0;margin:0; font-size:16px;}
.navigation-up .navigation-v3 li h2 a{padding:0 25px;color:#333;display:inline-block;line-height:80px;}

.navigation-down{position:absolute;top:80px;left:0px;width:100%}
.navigation-down .nav-down-menu{width:100%;margin:0;background:#fafafa;position:absolute;top:0px}
.navigation-down .nav-down-menu .navigation-down-inner{margin:auto;width:1200px;position:relative}
.navigation-down .nav-down-menu dl{float:left;margin:18px 80px 18px 0}
.navigation-down .menu-1 dl{margin:20px 55px 25px 0}
.navigation-down .menu-1 dt{font:normal 16px "microsoft yahei";color:#333;padding-bottom:10px;border-bottom:1px solid #61789e;margin-bottom:10px}
.navigation-down .menu-1 dd a{color:#333;font:normal 14px/30px "microsoft yahei"}
.navigation-down .menu-1 dd a:hover{color:#00baff}
.navigation-down .menu-2 dd a,.navigation-down .menu-3 dd a{color:#333;font:normal 16px "microsoft yahei"}
/*nav end*/

/*banner*/
.banner-cont{background: url("../images/app-banner.jpg") no-repeat center;height: 400px;position: relative;}
.banner-hire{background: url("../images/about-us.jpg") no-repeat center;height: 400px;position: relative;}
.banner-relation{background: url("../images/banner-relation.jpg") no-repeat center;height: 400px;position: relative;}
/*ship-APPShow*/		/*ship-APPShow*/
.banner-cont.g20-banner{background: url("../images/g20-banner.jpg") no-repeat center;height: 400px;position: relative;}
.banner-cont .G20-join{display:inline-block;position:absolute;bottom:23px;left:50%;margin-left:-262px;width: 554px;height: 100px;border-radius: 6px;}
.banner-cont .G20-join:hover{background:rgba(244,244,244,.2);}
.w1200{width: 1200px;margin: 0 auto;clear:both;}
.w1100{width: 1100px;margin: 0 auto;clear:both;}
.w1100:after{content: '\20';display: block;height: 0;line-height: 0;font-size: 0;overflow: hidden;clear: both;}
.w1000{width: 1000px;margin: 0 auto;clear:both;}
.w1000:after{content: '\20';display: block;height: 0;line-height: 0;font-size: 0;overflow: hidden;clear: both;}
.so-app-show{width: 100%;}
.so-app-show .so-supply,.so-app-show .so-tracking,.so-app-show .so-circle,.so-app-show .so-cleanShip{padding:40px 0 0;width: 100%;font-size: 24px;font-weight: 600;}
.so-app-show .img{background: url("../images/App-show.png") no-repeat;opacity: 0;}
.so-supply .introduce,.so-tracking .introduce,.so-circle .introduce,.so-cleanShip .introduce{margin: 100px 20px 0;width: 494px;opacity: 0;}
.so-supply .text-cont,.so-tracking .text-cont,.so-circle .text-cont,.so-cleanShip .text-cont{line-height: 38px;}
.so-supply .content .introduce,.so-tracking .content .introduce,.so-circle .content .introduce ,.so-cleanShip .content .introduce{text-align: center;}
.so-supply .introduce .title,.so-tracking .introduce .title,.so-circle .introduce .title,.so-cleanShip .introduce .title{color: #0271a5;line-height: 60px;}

.so-app-show .so-supply{background-color: #fff;}

.so-supply .content{height: 348px;}
.so-supply .content .img1{margin-left:60px;width:197px;height: 348px;background-position: -205px 1px;}
.so-app-show .so-tracking{background-color: #f7f7f7;}
.so-tracking .content{height: 331px;}
.so-tracking .content .img2{margin-right:20px;width: 309px;height: 300px;background-position: -192px -355px;position: relative;cursor: pointer;}
.so-tracking .magnifying{position:absolute;top:50px;left:0;width:126px;height: 126px;background:url("../images/App-show.png") no-repeat;
    background-position: -411px -198px;z-index: 10;opacity:0;}
.so-tracking .magnifying-son{position:absolute;top:113px;left:-114px;width:162px;height: 186px;background:url("../images/App-show.png") no-repeat;
    background-position: -408px -7px;opacity:0;}
/*.animate-son{display: none;}*/
.so-app-show .so-circle{background-color: #fff;}
.so-circle .content{height: 362px;}
.so-circle .content .img3{margin:40px 0 0 60px;width: 197px;height:325px;background-position: -9px 0;}
.so-app-show .so-cleanShip{background-color: #f7f7f7;}
.so-cleanShip .content{height: 365px;}
.so-cleanShip .content .img4{margin-right:160px;width: 170px;height:335px;background-position: -9px -331px;position: relative;}
.so-cleanShip .clean-details{position:absolute;right:-132px;top:100px;width:140px;font-size: 14px;font-weight: 600;overflow: hidden;}
.so-cleanShip .clean-details li{
    opacity: 0;background-color: #c1d0d9;margin-top: 10px;text-align: center;display: inline-block;width: 100%;}
/*ship-APPShow end*/

/*about-banner*/
.about-up{background: url("../images/about-us.jpg") no-repeat center;height: 400px;position: relative;}
/*intro-company*/

.inco{width: 100%;padding: 50px 0;}
.inco .intro-box{padding: 20px 0;position: relative;}
.inco .p-row{width: 100%;text-align: center;}
.inco .p-row .text-title{display:inline-block;font-size: 28px;font-weight: 600;}
.inco .text-title .wire{display:inline-block;width: 100%;height: 7px;background-color: #00b7ee;border-radius: 4px;}
.inco .text-content{padding:10px 0;font-size: 18px;text-indent: 2em;letter-spacing:1px;font-weight: 400;}
.inco .text-content .viewpoint{width: 350px;margin: 0 auto;letter-spacing: 1px;}
.inco .intro-two .img-culture{position:absolute;top:0;right:0;width: 237px;height: 237px;
    background: url("../images/intro.png") no-repeat 0 0;}
.inco .intro-three .img-viewpoint{position:absolute;top:0;left:0;width: 180px;height: 180px;
    background: url("../images/intro.png") no-repeat -249px 0;}
/*intro-company-end*/


/*intro-team*/
.intro-team{padding: 50px 0;width: 100%;}
.intro-team .text-title{display:inline-block;font-size: 28px;font-weight: 600;}
.intro-team .text-title .wire{display:inline-block;width: 100%;height: 7px;background-color: #00b7ee;border-radius: 4px;}
.intro-team .intro-box{padding: 20px 0}
.intro-team .intro-box .subtitle{font-size: 22px;line-height: 40px;}
.intro-team .intro-box .text-content{font-size: 18px;}
.intro-team .team-show .img{width: 100%;text-align: center;}
.intro-team .team-show img{width:600px;transition:all 2s ease;-webkit-transition:all 2s ease;}
.intro-team .team-show img:hover{-webkit-transform:rotateY(360deg);transform:rotateY(360deg)}
.intro-team .team-show .p-row{margin:10px auto;width: 400px;display: flex;justify-content: space-between;font-size: 24px;}
/*intro-team*/




/*G20*/
.inalliance{padding: 50px 0;width: 100%;}
.inalliance .p-row{width: 100%;text-align: center;margin: 20px 0 20px;}
.inalliance .p-row .text-title{display:inline-block;font-size: 28px;font-weight: 600;}
.inalliance .text-title .wire{display:inline-block;width: 100%;height: 7px;background-color: #00b7ee;border-radius: 4px;}
.inalliance .text-content{text-indent: 2em;font-size: 18px;line-height: 30px;}
.inalliance .img-cabinet{width: 100%;padding: 20px 0;text-align: center;}
.inalliance .img-cabinet img{margin: 0 auto;width: 630px;}
.inalliance .join-us{float:right;margin:30px 50px 50px 0;padding: 4px 8px;box-shadow: 1px 1px 1px #bebfc0;}
.inalliance .bottom-button{width: 100%;text-align: center;}
.inalliance .G20-join{display:inline-block;margin:20px auto 0;width: 354px;height: 80px;border-radius: 6px;    font-size: 30px;
    background-color: #f1f1f1;
    line-height: 80px;}
.inalliance .G20-join:hover{background: #e9e9e9;}
/*G20-end*/
/*contact*/
.contact{padding: 20px 0;width: 100%;}
.contact .contact-box{padding: 50px;}
.contact .text-title{}
.contact .text-title{display:inline-block;font-size: 28px;font-weight: 600;}
.contact .text-title .wire{display:inline-block;width: 100%;height: 7px;background-color: #00b7ee;border-radius: 4px;}
.contact .message-box{padding: 10px 0;}
.contact .message-box .list{float: left;padding-top: 60px;line-height: 28px;}
.contact .list .p-row{font-size: 16px;}
.contact .map{float: right;border: 2px solid #ccc;}

/*contact-end*/

/*hire*/
.hire .banner-cont{background: url("../images/banner-hire.jpg") no-repeat center;height: 400px;position: relative;}
.hire{padding: 20px 0;width: 100%;}
.hire .contact-box{padding: 50px;}
.hire .p-row{text-align: center;margin-top: 20px;}
.hire .p-row .text-title{display:inline-block;font-size: 28px;font-weight: 600;}
.hire .p-row .wire{display:inline-block;width: 100%;height: 7px;background-color: #00b7ee;border-radius: 4px;}
#hire-message{padding: 40px 0 0 40px;}

/*暂无信息*/
.hire .not-message{width: 100%;margin-top: 40px;}
.hire .not-message .not-content{width: 100%;}
.hire .not-message .hint{text-align:center;font-size:22px;}
.hire .not-message .about-firm{width: 400px;margin: 40px auto;font-size: 18px;}
.hire .not-message .about-firm .title{display: inline-block;width: 86px;}
/*招聘信息*/
.hire .vacancy-list{margin-top: 40px;}
.hire .vacancy-list .job-item{display:inline-block;margin:0 10px 20px;width: 190px;height:50px;line-height:50px;
    background-color: #0075a9;box-shadow:1px 1px 1px #474747;text-align: center;font-size: 22px;color: #fff;cursor: pointer;}
.hire .vacancy-list .active{background-color: #1d9ccb;}
.hire .job-content{margin-top: 20px;}
.hire .job-content .job-title{font-size: 22px;font-weight: 600;}
.hire .job-content .require{margin-top:20px;font-size: 16px;font-weight: 400;color: #ccc;}
.hire .job-content .re-content{text-indent: 2em;}
.hire .require .job-tit{font-weight: 600;}

.hire .job-content .responsibility{margin-top:20px;font-size: 16px;font-weight: 400;color: #fd2929}
.hire .responsibility .job-tit{font-weight: 600;}
/*hire-end*/

/*statement*/
.statement{padding: 50px 0;width: 100%;}
.statement .p-row{text-align: center;margin-top: 20px;}
.statement .p-row .text-title{display:inline-block;font-size: 28px;font-weight: 600;}
.statement .p-row .wire{display:inline-block;width: 100%;height: 7px;background-color: #00b7ee;border-radius: 4px;}
.statement .mw{width: 1100px;margin: 0 auto;}
.statement .content{margin-top: 40px;background-color: #fff;}
.statement .content h1,.content p{font-size: 15px;line-height: 20px;}
.statement .http-single{margin-bottom: 20px;}
.statement .http-single h1{line-height: 30px;}
.statement .http-single p{text-indent: 2em;line-height: 22px;}
.statement .http-single p+p{margin-top: 8px;}
/*statement-end*/

/*news-list*/
.news-brief{padding: 50px 0;width: 100%;background-color: #e6e6e6;}
.news-brief .news-box{}
.news-brief .news-list{width: 860px;margin: 0 auto;}
.news-brief .news-list li{height:140px;line-height:140px;background-color: #fff;padding: 0 20px;font-size:18px;display: flex;justify-content: flex-start;}
.news-brief .news-list li+li{margin-top: 2px;}
.news-brief .news-list .news-logo{display: inline-block;width: 250px;text-align: center;}
.news-brief .news-logo img{max-width: 184px;max-height:110px;text-align: center;vertical-align: middle;}
.news-brief .news-list a{margin-left:40px;display: inline-block;height:140px;width: 450px;text-align: left;
    padding: 0;vertical-align: middle;}
/*.news-brief .news-list a{display: inline-block;width: 250px;text-align: left;padding: 20px;}*/
.news-brief .news-list span{display: inline-block;width: 180px;text-align: center;padding: 0;vertical-align: middle;}
/*news-list-end*/

/*news-firm*/
.news-Firm{padding: 50px 0;width: 100%;}
.news-Firm .news-box{width: 760px;margin: 0 auto;}
.news-Firm .news-head .text-title{font-size: 26px;font-weight: 600;text-align: center;}
.news-Firm .news-head .text-message{font-size: 22px;text-align: center;}
.news-Firm .list-box{padding-top: 30px;}
.news-Firm .img-box{width: 100%;text-align: center;padding: 20px;}
.news-Firm .img-box img{width: 600px;}
.news-Firm .img-box .img-title{display:block;width: 100%;text-align: center;font-size: 20px;font-weight:600;}
.news-Firm .list-box .text{width: 100%;font-size: 18px;font-weight:400;text-indent:2em;line-height: 30px;}
/*news-firm-end*/

/*footer*/
.footer{width: 100%;margin-top: 0;padding: 30px 0;}
.footer .footer-content{}
.footer .message{display: flex;justify-content: center;}
.footer .message-l{width: 50%;align-self:flex-end;padding-bottom:30px;}
.footer .message-r{width: 34%;display: flex;justify-content: space-between;}
.footer .message-r .title{text-align: center;font-size: 18px;color: #fff;line-height: 40px;}
.footer .message .text{text-align: left;text-align: left;font-size: 16px;color: #fff;}
.footer .copyright{padding:20px 0 0;text-align: center;font-size: 16px;color: #fff;}
/*footer-end*/


/*apply-hint*/
.apply-hint{padding: 50px;text-align: center;font-size: 24px;font-weight: 600;color: #3498db;}
.apply-hint #timer{margin: 10px auto;color: #fff;background-color: #3498db;}

