.right-pull{float: right;}
.left-pull{float: left;}
body{min-width: 1100px;font: microsoft yahei,Verdana, Arial, Helvetica, sans-serif;}




.head-v3{position:relative;z-index:1000;width:100%; top:0;}
.head-v3 .navigation-inner{margin:0 auto;width:1100px;position:relative}
.navigation-up{height:80px;background:rgba(255,255,255,1)}
.navigation-up .navigation-v3{float:left;margin-left:10px;width: 100%;}
.navigation-up .navigation-v3 ul{float:left}
.navigation-up .navigation-v3 li{float:left;font:normal 16px/16px "microsoft yahei";color:#333}
.navigation-up .navigation-v3 .nav-up-selected{background:rgba(244,244,244,0.8)}
.navigation-up .navigation-v3 .nav-up-selected-inpage{background:rgba(244,244,244,0.8)}
.navigation-up .navigation-v3 li h2{font-weight:normal;padding:0;margin:0; font-size:16px;}
.navigation-up .navigation-v3 li h2 a{padding:0 25px;color:#333;display:inline-block;line-height:80px;}

.navigation-down{position:absolute;top:80px;left:0px;width:100%}
.navigation-down .nav-down-menu{width:100%;margin:0;background:#fafafa;position:absolute;top:0px}
.navigation-down .nav-down-menu .navigation-down-inner{margin:auto;width:1200px;position:relative}
.navigation-down .nav-down-menu dl{float:left;margin:18px 80px 18px 0}
.navigation-down .menu-1 dl{margin:20px 55px 25px 0}
.navigation-down .menu-1 dt{font:normal 16px "microsoft yahei";color:#333;padding-bottom:10px;border-bottom:1px solid #61789e;margin-bottom:10px}
.navigation-down .menu-1 dd a{color:#333;font:normal 14px/30px "microsoft yahei"}
.navigation-down .menu-1 dd a:hover{color:#00baff}
.navigation-down .menu-2 dd a,.navigation-down .menu-3 dd a{color:#333;font:normal 16px "microsoft yahei"}
/*nav end*/

/*ship-APPShow*/
.banner-cont{background: url("../images/app-banner.jpg") no-repeat center;height: 350px;}
.w1200{width: 1200px;margin: 0 auto;clear:both;}
.w1100{width: 1100px;margin: 0 auto;clear:both;}
.w1100:after{content: '\20';display: block;height: 0;line-height: 0;font-size: 0;overflow: hidden;clear: both;}
.w1000{width: 1000px;margin: 0 auto;clear:both;}
.w1000:after{content: '\20';display: block;height: 0;line-height: 0;font-size: 0;overflow: hidden;clear: both;}
.so-app-show{width: 100%;}
.so-app-show .so-supply,.so-app-show .so-tracking,.so-app-show .so-circle,.so-app-show .so-cleanShip{padding:40px 0;width: 100%;font-size: 24px;font-weight: 600;}
.so-app-show .img{background: url("../images/App-show.png") no-repeat;opacity: 0;}
.so-supply .introduce,.so-tracking .introduce,.so-circle .introduce,.so-cleanShip .introduce{margin: 100px 92px 0;width: 450px;opacity: 0;}
.so-supply .text-cont,.so-tracking .text-cont,.so-circle .text-cont,.so-cleanShip .text-cont{width: 300px;line-height: 38px;}

.so-app-show .so-supply{background-color: #fff;}
.so-supply .content{height: 338px;}
.so-supply .content .img1{margin-left:60px;width:197px;height: 348px;background-position: -205px 1px;}
.so-app-show .so-tracking{background-color: #f7f7f7;}
.so-tracking .content{height: 331px;}
.so-tracking .content .img2{margin-right:20px;width: 309px;height: 300px;background-position: -192px -355px;position: relative;cursor: pointer;}
.so-tracking .magnifying{position:absolute;top:50px;left:0;width:126px;height: 126px;background:url("../images/App-show.png") no-repeat;
    background-position: -411px -198px;z-index: 10;}
.so-tracking .magnifying-son{position:absolute;top:113px;left:-114px;width:162px;height: 186px;background:url("../images/App-show.png") no-repeat;
    background-position: -408px -7px;display: none;}
.so-app-show .so-circle{background-color: #fff;}
.so-circle .content{height: 351px;}
.so-circle .content .img3{margin-left:60px;width: 197px;height:325px;background-position: -9px 0;}
.so-app-show .so-cleanShip{background-color: #f7f7f7;}
.so-cleanShip .content{height: 365px;}
.so-cleanShip .content .img4{margin-right:160px;width: 170px;height:335px;background-position: -9px -331px;position: relative;}
.so-cleanShip .clean-details{position:absolute;right:-132px;top:100px;width:140px;font-size: 14px;font-weight: 600;}
.so-cleanShip .clean-details li{background-color: #c1d0d9;margin-top: 10px;text-align: center;}
/*ship-APPShow end*/


/*intro-company*/
.inco{width: 100%;padding: 50px 0;}
.inco .intro-box{padding: 20px 0;position: relative;}
.inco .p-row{width: 100%;text-align: center;}
.inco .p-row .text-title{display:inline-block;font-size: 24px;font-weight: 600;line-height: 18px;}
.inco .text-title .wire{display:inline-block;width: 100%;height: 7px;background-color: #00b7ee;border-radius: 4px;}
.inco .text-content{padding:10px 0;font-size: 18px;text-indent: 2em;letter-spacing:1px;font-weight: 400;}
.inco .text-content .viewpoint{width: 350px;margin: 0 auto;letter-spacing: 1px;}
.inco .intro-two .img-culture{position:absolute;top:0;right:0;width: 237px;height: 237px;
    background: url("../images/intro.png") no-repeat 0 0;}
.inco .intro-three .img-viewpoint{position:absolute;top:0;left:0;width: 180px;height: 180px;
    background: url("../images/intro.png") no-repeat -249px 0;}


.inte{}
/*intro-company-end*/
/*G20*/
.inalliance{padding: 50px 0;width: 100%;}
.inalliance .text-content{text-indent: 2em;font-size: 18px;line-height: 30px;}
.inalliance .img-cabinet{width: 100%;padding: 20px 0;text-align: center;}
.inalliance .img-cabinet img{margin: 0 auto;width: 430px;}
.inalliance .join-us{float:right;margin:30px 50px 50px 0;padding: 4px 8px;box-shadow: 1px 1px 1px #bebfc0;}
/*G20-end*/
/*contact*/
.contact{padding: 50px 0;width: 100%;}
.contact .contact-box{padding: 50px;}
.contact .text-title{}
.contact .text-title{display:inline-block;font-size: 24px;font-weight: 600;line-height: 18px;}
.contact .text-title .wire{display:inline-block;width: 100%;height: 7px;background-color: #00b7ee;border-radius: 4px;}
.contact .message-box{padding: 30px 0;}
.contact .message-box .list{float: left;padding-top: 30px;line-height: 28px;}
.contact .list .p-row{font-size: 16px;}
.contact .list .p-row .title{}
.contact .map{float: right;border: 2px solid #ccc;}
/*contact-end*/

/*statement*/
.statement{padding: 50px 0;width: 100%;}
.statement .p-row{text-align: center;margin-top: 20px;}
.statement .p-row .text-title{display:inline-block;font-size: 24px;font-weight: 600;line-height: 18px;}
.statement .p-row .wire{display:inline-block;width: 100%;height: 7px;background-color: #00b7ee;border-radius: 4px;}
.statement .mw{width: 1100px;margin: 0 auto;}
.statement .content{margin-top: 115px;background-color: #fff;}
.statement .content h1,.content p{font-size: 15px;line-height: 20px;}
.statement .http-single{margin-bottom: 20px;}
/*statement-end*/

/*news-list*/
.news-brief{padding: 50px 0;width: 100%;background-color: #e6e6e6;}
.news-brief .news-box{}
.news-brief .news-list{width: 860px;margin: 0 auto;}
.news-brief .news-list li{height:140px;line-height:140px;background-color: #fff;padding: 0 20px;font-size:18px;display: flex;justify-content: flex-start;}
.news-brief .news-list li+li{margin-top: 2px;}
.news-brief .news-list .news-logo{display: inline-block;width: 250px;text-align: center;}
.news-brief .news-logo img{max-width: 184px;max-height:110px;text-align: center;vertical-align: middle;}
.news-brief .news-list a{margin-left:40px;display: inline-block;height:140px;width: 450px;text-align: left;
    padding: 0;vertical-align: middle;}
/*.news-brief .news-list a{display: inline-block;width: 250px;text-align: left;padding: 20px;}*/
.news-brief .news-list span{display: inline-block;width: 180px;text-align: center;padding: 0;vertical-align: middle;}




/*news-list-end*/

/*news-firm*/
.news-Firm{padding: 50px 0;width: 100%;}
.news-Firm .news-box{width: 760px;margin: 0 auto;}
.news-Firm .news-head .text-title{font-size: 26px;font-weight: 600;text-align: center;}
.news-Firm .news-head .text-message{font-size: 22px;text-align: center;}
.news-Firm .list-box{padding-top: 30px;}
.news-Firm .img-box{width: 100%;text-align: center;padding: 20px;}
.news-Firm .img-box img{width: 600px;}
.news-Firm .img-box .img-title{display:block;width: 100%;text-align: center;font-size: 20px;font-weight:600;}
.news-Firm .list-box .text{width: 100%;font-size: 18px;font-weight:400;text-indent:2em;line-height: 30px;}
/*news-firm-end*/